:root {
  --background-default: rgb(8, 40, 204);
}

body {
  background-color: var(--background-default);
  color: white;
  font-family: "aktiv-grotesk",sans-serif;
}

.header {
  font-size: 11px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;

}
.header-logo {
  font-size: 18px;
  font-weight: 400;
  margin-left: 50px;
}
.header-links {
  font-size: 11px;
  font-weight: 400;
  display: flex;
  justify-content: space-around;
  width: 400px;

}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 45px;
  border-radius: 30px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.main {
  display: flex;
  flex-direction: column;
  height: 500px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  /* width: 700px; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-title {
  font-weight: bold;
  font-size: 56px;
  margin-top: 14px;
  margin-bottom: 20px;

}

.main-text {
  display: flex;
  text-align: center;
  font-size: 16px;
  line-height: 34px;
  font-weight: lighter;
}

#subscribe {
  position: flex-end;
  margin-right: 50px;
  width: 125px;
  height: 45px;
  border-color: white;
  border-width: 1px;
  background: transparent;
  border-style: solid;
}
#subscribe:hover {
  background-color: white;
  color: var(--background-default);
}

#explore {
  width: 150px;
  background-color: white;
  color: var(--background-default);
  margin-top: 27px;
}

#explore:hover {
  background: transparent;
  color: white;
}

